# IDE config folder
.vs/
.vscode/
.idea/
**/logs/
**/__pypackages__/
**/__pycache__/
*.out
*.log
*.env
*.sql
*.flake8

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
lib/
var/
wheels/
*.egg-info/
*.egg
MANIFEST


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


# Sphinx documentation
**/_build/
**/_static/
**/_templates/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
